@keyframes animation {
  0%   {
    transform: scale(.3);
    background-color: #87CEFA;
  }
  25%  {
   background-color: #82CFFD;}
  50%  {
    transform: scale(1.2);

    background-color: #8DB6CD;}
  100% {
    transform: scale(1.0);

    background-color: #607B8B; 
  }
}

@keyframes animation2 {
  0%   {
    transform: scale(.3);
    background-color: #DCDCDC;
  }
  25%  {
   background-color: #A8A8A8;}
  50%  {
    transform: scale(1.2);

    background-color: #696969;}
  100% {
    transform: scale(1.0);

    background-color: #303030; 
  }
}

@keyframes animation3 {
  0%   {
    transform: scale(.3);
    background-color: #677c0b;
  }
  25%  {
   background-color: #789109;}
  50%  {
    transform: scale(1.2);

    background-color: #98b809;}
  100% {
    transform: scale(1.0);

    background-color: #caf11a; 
  }
}

.mazeTable {
  border: 0.25px solid rgba(17, 100, 110, 0.904);

  margin-left: auto;
  margin-right: auto;
}
p {
  margin: 24px;
  display: inline-block;
}
#maze {
    text-align: center;
}

#info{
  margin: 24px;
}



i{
    margin-top: 3px;
}
tr {
  padding: 0px;
  margin: 0px;
}
td {
  padding: 0px;
  margin: 0px;
}
.square {
    height: 25px;
    width: 25px;
    background-color: white;
    border: 0.25px solid rgba(17, 100, 110, 0.904);
    margin: 0px;
  }
  .square-wall{
    height: 25px;
    width: 25px;
    background-color: #080808;
    border: 1px solid gray;
    margin: 0px;
    animation-name: animation2;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }

  .square-shortest-path{
    height: 25px;
    width: 25px;
    background-color: #caf11a;
    border: 1px solid gray;
    margin: 0px;
    animation-name: animation3;
    animation-duration: 0.5s;
  }
  .square-visited{
    height: 25px;
    width: 25px;
    background-color: #607B8B;
    border: 1px solid gray;
    margin: 0px;
    animation-name: animation;
    animation-duration: 1s;
  }
  
.square-start-point {
    height: 25px;
    width: 25px;
    border: 1px solid gray;
    margin: 0px;
}

.square-start-point-visited {
  height: 25px;
  width: 25px;
  border: 1px solid gray;
  background-color: #607B8B;
  margin: 0px;
}
.square-start-point-shortest-path {
  height: 25px;
  width: 25px;
  border: 1px solid gray;
  background-color: #c8f10d;
  margin: 0px;
}

#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #e6e6e6; /* Black background color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbar2 {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #e6e6e6; /* Black background color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar2.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}