<div id="maze">

  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css" rel="stylesheet" />
      
          <ul class="nav justify-content-center"  >
            
            <li class="nav-item dropdown" style="margin: 16px;">
              <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select Algorithm
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <ng-container  *ngFor="let x of pathfindingAlgorithms;">
                    <a (click)="algoSelected(x.id)" class="dropdown-item" >{{x.name}}</a>
                </ng-container>
              </div>
            </li>

            <li class="nav-item">
                <button class="btn btn-info"  style="margin: 16px;" (click)="findPath()" [disabled]="visualizing">Visualize</button>
            </li>


            <li class="nav-item">
                <button style="margin: 16px;" class="btn btn-secondary" (click)="clear()" [disabled]="visualizing" >Clear Board</button>
            </li>

            <li class="nav-item">
                <button style="margin: 16px;" class="btn btn-secondary" (click)="generateMaze()" [disabled]="visualizing">Generate Maze</button>
            </li>

            <li class="nav-item">
              <button style="margin: 16px;" class="btn btn-secondary" (click)="clearPath()" [disabled]="visualizing">Clear Path</button>
            </li>

            <li class="nav-item dropdown" style="margin: 16px;">
              <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select Speed
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a (click)="setSpeed(12.5);" class="dropdown-item">FAST</a>

                <a (click)="setSpeed(25);" class="dropdown-item">MEDIUM</a>

                <a (click)="setSpeed(50);" class="dropdown-item">SLOW</a>
                
              </div>
            </li>

      </ul>

      <p class="lead">
        {{algorithmDetails}}
      </p>


      <div id="info">
      <div class="row">
        <div class="col-2" style="text-align: center;"><div style = "display: inline-block;" class="square"></div></div>
        <div class="col-2" style="text-align: center;"><div style = "display: inline-block;" class="square-visited"></div></div>
        <div class="col-2" style="text-align: center;"><div style = "display: inline-block;" class="square-shortest-path"></div></div>
        <div class="col-2" style="text-align: center;"><div style = "display: inline-block;" class="square-wall"></div></div>
        <div class="col-2" style="text-align: center;"> <div style = "display: inline-block;" class="square-start-point"> <i class="fa fa-male" aria-hidden="true"></i>  </div></div>
        <div class="col-2" style="text-align: center;"><div style = "display: inline-block;" class="square-start-point"> <i class="fa fa-map-marker" aria-hidden="true"></i>  </div></div>


        
      </div>
      <div class="row" >
        <div class="col-2">Empty Cell</div>
        <div class="col-2">Visited Cell</div>
        <div class="col-2">Path</div>
        <div class="col-2">Wall</div>
        <div class="col-2">Start Cell</div>
        <div class="col-2">End Cell</div>
      </div>
    </div>


    <table class = "mazeTable" cellspacing="0">
    <ng-container  *ngFor="let x of counter(rows); let i = index;">
        <tr>
        <ng-container  *ngFor="let y of counter(columns); let j = index;">
            <td>
            <div class="square" *ngIf="isSimpleBox(i, j)" (mouseleave) ="onMouseEnter(i, j)" (click) = "onBoxClicked(i, j)" (mousedown)="onMouseDown(i, j)" ></div>
            <div class="square-visited" *ngIf="isVisited(i, j)" (click)="onBoxClicked(i, j)"  ></div>
            <div class="square-shortest-path" *ngIf="isShortestPath(i, j)"></div>
            <div class="square-wall" *ngIf="isWall(i, j)" (click)="onBoxClicked(i, j)" (mousedown)="onMouseDown(i, j)" (mouseleave) ="onMouseEnter(i, j)"></div>
            <div class="square-start-point" *ngIf="isStartPoint(i, j)" (mousedown)="onMouseDown(i, j)" > <i class="fa fa-male" aria-hidden="true"></i>  </div>
            <div class="square-start-point" *ngIf="isEndPoint(i, j)" (mousedown)="onMouseDown(i, j)" > <i class="fa fa-map-marker" aria-hidden="true"></i> </div>
            <div class="square-start-point-visited" *ngIf="isStartPointVisited(i, j)"> <i class="fa fa-male" aria-hidden="true"></i>  </div>
            <div class="square-start-point-visited" *ngIf="isEndPointVisited(i, j)"> <i class="fa fa-map-marker" aria-hidden="true"></i> </div>
            <div class="square-start-point-shortest-path" *ngIf="isStartPointShortestPath(i, j)"> <i class="fa fa-male" aria-hidden="true"></i> </div>
            <div class="square-start-point-shortest-path" *ngIf="isEndPointShortestPath(i, j)"> <i class="fa fa-map-marker" aria-hidden="true"></i> </div>
        </td>
        </ng-container> 
    </tr>
    </ng-container>
    </table>

    <div id="snackbar">Please select an Algorithm!</div>
    <div id="snackbar2">Path does not exist!</div>
    
</div>